:root {
  --color-text: #373742;
  --color-red: #f50057;
  --color-blue: #00b0ff;
  --color-yellow: #f4f655;
  --color-orange: #f9a826;
}

/* 
======================
  Responsive Tablet
======================
*/
@media (max-width: 768px) {
  .navbar,
  .navbar-fixed {
    background-color: var(--color-text);
  }
  .nav-list {
    width: 70%;
  }
  .nav-list a {
    font-size: 0.9rem;
  }
  .about-wrapper {
    height: max-content;
  }
  .project-preview {
    flex-direction: column;
    padding-top: 3rem;
    gap: 2rem;
  }
  .preview {
    flex-direction: column;
    width: 100%;
    height: 33%;
    opacity: 1;
  }
  .preview img {
    height: max-content;
  }
  .project {
    flex-direction: column;
    font-size: 0.8rem;
  }
  .content {
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    gap: 2rem;
  }
  .content a {
    padding: 0.3rem 2rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .social {
    font-size: 0.7rem;
    padding-top: 2rem;
  }
}

/* 
=======================
  Responsive Mobile
=======================
*/
@media (max-width: 576px) {
  .navbar,
  .navbar-fixed {
    padding: 1.5rem 0;
  }
  .nav-list {
    width: 75%;
  }
  .nav-list a {
    font-size: 0.7rem;
  }
  .main-content h1 {
    font-size: 2rem;
  }
  .main-content p {
    font-size: 0.7rem;
  }
  .hero-content {
    flex-direction: column;
  }
  .contact {
    width: 100%;
    display: block;
    font-size: 0.75rem;
  }
  .profile {
    width: 100%;
    margin-top: 2rem;
  }
  .project-preview {
    height: 92%;
  }
  .project {
    font-size: 0.8rem;
  }
  .content a {
    font-size: 0.5rem;
  }
  .content a p {
    font-size: 0.5rem;
  }
}
